@media only screen and (max-width: 768px) {
  .login {
    margin: 0;
    padding: 0
  }
}

@media screen and (max-width: 435px) {
  .login {
    margin: 0;
    padding: 0
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .login {
    margin: 0;
    padding: 0
  }
}